<p>add-customer-product works!</p>

<div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert" >
    <strong>Success!</strong> Data entered succesfully
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<form  #adddata="ngForm" (ngSubmit)="collectNewAdmin(adddata.value)" appHighlight>
    <div
        style="padding-left: 100;margin-left: 300px;margin-top: 70px;margin-bottom: 70px;margin-right: 300px;padding-bottom: 50px;padding-top: 50px;">
        <label>Enter Customer Id</label><br>
        <input type="text" class="form-control" name="customerID" required placeholder="Enter Customer ID" ngModel #customerID = "ngModel">
        <!-- <span *ngIf = "adminId.invalid && adminId.touched" style="color: red;">Admin Id Required</span> <br><br>  -->

        
        <label>Enter Product Id</label><br>
        <input type="text" class="form-control" name = "productId" placeholder="Enter Product ID"ngModel required #productId = "ngModel">
         <!-- <span *ngIf = "adminName.invalid && adminName.touched" style="color: red;">Admin Name Required</span> <br><br> -->

        
        <button type="submit" class="btn btn-primary" [disabled] = adddata.invalid >Register</button>
    </div>
</form> 